<h1>Demo app</h1>

<ul>
  <li><%= link_to "New player", new_player_path %></li>
  <li><%= link_to "List players", players_path %></li>
  <li><%= link_to "New level", new_level_path %></li>
  <li><%= link_to "List level", levels_path %></li>
</ul>
